<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">Add Item to Grocery List</h3>
</div>
<div class="row"> 
        <div class="col-sm-12">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="groceryForm">
                
                <div class="form-group">
                        
                        <label class="col-sm-3 control-label" for="itemName">Item Name:</label>
                            <div class="col-sm-7"ng-class="{'has-error' : groceryForm.itemName.$dirty && groceryForm.itemName.$invalid}">
                                <input type="text" class="form-control" id="itemName" name="itemName" ng-model="addGroceryItemModalCtrl.groceryParams.itemName" typeahead-focus-first="false" uib-typeahead="items.name for items in addGroceryItemModalCtrl.getLikeItems($viewValue)" typeahead-editable="false" ng-disabled="addGroceryItemModalCtrl.groceryParams.item != undefined" required/>
                            </div> 
                </div>
                
                
                <div class="form-group">
                        <label class="col-sm-3 control-label" for="specificBrand">Specify Brand:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="addGroceryItemModalCtrl.groceryParams.specificBrand" placeholder="Optional" uib-typeahead="brands for brands in addGroceryItemModalCtrl.getBrands($viewValue)" typeahead-focus-first="false" id="specificBrand" name="specificBrand" ng-disabled="addGroceryItemModalCtrl.groceryParams.inventory != undefined"/>
                            </div> 
                </div>
                
                <div class="form-group">
                        <i ng-show="groceryForm.itemQuantity.$dirty && groceryForm.itemQuantity.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-3 control-label" for="itemQuantity">Quantity:</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" ng-model="addGroceryItemModalCtrl.groceryParams.quantity" name="itemQuantity" id="itemQuantity" ng-pattern="/^\d+([,.]\d+)?$/" required/>
                            </div>

                        
                </div>
                
                <div class="form-group"> 
                            <i ng-show="groceryForm.itemMeasurement.$dirty && groceryForm.itemMeasurement.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>         
                        <label class="col-sm-3  control-label" for="itemMeasurement">Measurement:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="addGroceryItemModalCtrl.groceryParams.measurement" name="itemMeasurement" id="itemMeasurement" ng-options="type as type for type in addGroceryItemModalCtrl.measurementTypes" required></select>
                            </div>
                
                </div>
                
                <div class="form-group">
                        <label class="col-sm-3  control-label" for="groceryStore">Store:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="addGroceryItemModalCtrl.groceryParams.store" placeholder="Optional" name="groceryStore" id="groceryStore" uib-typeahead="stores for stores in addGroceryItemModalCtrl.getStores($viewValue)" typeahead-focus-first="false" />
                            </div>
                
                </div>
                
                
                
                
                </ng-form>
           </div>
       </div>
</div>
<div class="modal-footer">
            <button class="btn btn-primary" id="saveBtn" ng-click="addGroceryItemModalCtrl.ok()" accessKey="s" ng-disabled="groceryForm.$invalid" >Add</button>
            <button class="btn btn-warning" id="cancelBtn" ng-click="addGroceryItemModalCtrl.cancel()" accessKey="n">Cancel</button>
</div> 