<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">Chore Scores</h3>
</div>
<div class="row"> 
        <div class="col-sm-12">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="choreParamsForm">
                        
                        <div class="form-group">
                                <label class="col-sm-2 control-label" for="from">Last Completed:</label>
                                <div class="col-sm-3">
                                        <input type="text" uib-datepicker-popup is-open="choreScoreModalCtrl.from.dateOpen" ng-click="choreScoreModalCtrl.openFromDate($event)" class="form-control"  ng-model="choreScoreModalCtrl.fromDate" max-date="today" close-text="Close" />       
                                </div>
                                <label class="col-sm-2 control-label" for="to">Last Completed:</label>
                                <div class="col-sm-3">
                                        <input type="text" uib-datepicker-popup is-open="choreScoreModalCtrl.to.dateOpen" ng-click="choreScoreModalCtrl.openToDate($event)" class="form-control"  ng-model="choreScoreModalCtrl.toDate" max-date="today" close-text="Close" />       
                                </div>
                                <div class="col-sm-2">
                                            <button class="btn btn-primary" ng-click="choreScoreModalCtrl.getHistories()">Update</button>
                                        </div> 
                        </div>
                        <table width="100%">
                        
                            <tr><td ng-repeat='name in choreScoreModalCtrl.names'>
                            <div style="margin-left: 5px; margin-right: 5px; margin-bottom: 5px; margin-top: 5px">
                                <div class="ui-grid ui-grid-top-panel" style="text-align: center; font-size: 20px; ">{{name}}</div>
		                        <div ui-grid="choreScoreModalCtrl.scores[name]" class="row-border hover" ui-grid-resize-columns ui-grid-move-columns style="display: table; width: 270px"></div>
                        
                            </div>
                            </td></tr>
                            
                        </table> 
                </ng-form>
            </div>     
        </div>
</div>
<div class="modal-footer">
            <button class="btn btn-primary" id="saveBtn" ng-click="choreScoreModalCtrl.ok()" accessKey="s">Close</button>            
</div> 