<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">Essentials Below Threshold</h3>
</div>

<div ui-grid="generateItemsModalCtrl.gridOptions" class="row-border hover" ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns style="display: table; width: 575px; text-align: center; margin-left: 10.5px"></div>
<div class="modal-footer">
			<button class="btn btn-primary" id="saveBtn" ng-click="generateItemsModalCtrl.addAll()" accessKey="s" >Add All to Grocery List</button>
            <button class="btn btn-primary" id="saveBtn" ng-click="generateItemsModalCtrl.ok()" accessKey="s" >Close</button>
</div>  