<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">Upload Inventory CSV</h3>
</div>

<div class="row"> 
        <div class="col-sm-12">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="inventoryUploadForm">
                    <div style="margin-bottom: 5px" class="btn btn-default " ngf-select ng-model="inventoryUploadModalCtrl.csvFile" name="file" 
                         ngf-max-size="2MB" ngf-pattern="'.csv'" >Select CSV File</div>
                     
                    
                    
                    <div style="margin-bottom: 5px" class="btn btn-info" id="uploadBtn" ng-click="inventoryUploadModalCtrl.uploadFile()" accessKey="s" ng-disabled="!(inventoryUploadModalCtrl.csvFile) || inventoryUploadForm.file.$invalid">Upload File</div>
                
                    <div style="margin-bottom: 5px" class="btn btn-success" ng-click="inventoryUploadModalCtrl.csvFile = null" style="font-size: 14px" ng-show="(inventoryUploadModalCtrl.csvFile)">{{inventoryUploadModalCtrl.csvFile.name}}</div>    
                    
                    <div class="fa fa-check-circle fa-2x green"  ng-show="inventoryUploadModalCtrl.success"></div>
                    <div class="fa fa-exclamation-circle fa-2x red"  ng-show="inventoryUploadModalCtrl.fail"> {{inventoryUploadModalCtrl.errorMsg}}</div>
                    
                </ng-form>
                 </div>
    </div>
</div>
    <div ui-grid="inventoryUploadModalCtrl.gridOptions" class="row-border hover" ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns style="display: table; width: 575px; text-align: center; margin-left: 10.5px"></div>
<div class="modal-footer">
	<button class="btn btn-primary" id="saveBtn" ng-click="inventoryUploadModalCtrl.confirm()" accessKey="s" ng-disabled="!inventoryUploadModalCtrl.success">Save</button>
    <button class="btn btn-primary" id="closeBtn" ng-click="inventoryUploadModalCtrl.close()" accessKey="c">Close</button>
   
</div> 
    