<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">{{addEditChoreModalCtrl.title}}</h3>
</div>
<div class="row"> 
        <div class="col-sm-12" style="margin-bottom: 0px;">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="choreParamsForm">
                
                    <div class="form-group">
                    <i ng-show="choreParamsForm.name.$dirty && choreParamsForm.name.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-2 control-label" for="name">Name:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : choreParamsForm.name.$dirty && choreParamsForm.name.$invalid}">
                                <input type="text" name="name" id="name" ng-model="addEditChoreModalCtrl.choreParams.name" placeholder="Name" class="form-control" required>
                          </div> 
                          
                        <label class="col-sm-1 control-label" for="type">Type:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : choreParamsForm.type.$dirty && choreParamsForm.type.$invalid}">
                                <input type="text" class="form-control" ng-model="addEditChoreModalCtrl.choreParams.type" placeholder="Type" uib-typeahead="choreTypes for choreTypes in addEditChoreModalCtrl.getChoreTypes($viewValue)" typeahead-focus-first="false" id="type" name="type"/>
                            </div> 
                        <i ng-show="choreParamsForm.type.$dirty && choreParamsForm.type.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                    </div>
                    
                    <div class="form-group">
                    <i ng-show="choreParamsForm.frequency.$dirty && choreParamsForm.frequency.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-2 control-label" for="frequency">Frequency:</label>
                            <div class="col-sm-2">
                                <input type="number" class="form-control" ng-model="addEditChoreModalCtrl.choreParams.frequency" placeholder="#" name="frequency" id="frequency" required/>
                                
                            </div> 
                    
                            <div class="col-sm-3">
                                <select type="text"  class="form-control" ng-model="addEditChoreModalCtrl.choreParams.frequencyPeriod" ng-options="period as period for period in addEditChoreModalCtrl.frequencyPeriods"  name="frequencyPeriod" id="frequencyPeriod" required"></select>
                            </div> 

                   </div>
                   
                   <div class="form-group">
                   <label class="col-sm-2 control-label" for="lastCompleted">Last Completed:</label>
                        <div class="col-sm-4" >
                                <div name="lastCompleted" id="lastCompleted" class="form-control" ng-disabled="true">{{addEditChoreModalCtrl.choreParams.lastCompleted | date: 'shortDate'}}</div>
                                    
                        </div>
                        <label class="col-sm-1 control-label" for="lastCompletedBy">By:</label>
                        <div class="col-sm-4" >
                        		<div name="lastCompletedBy" id="lastCompletedBy" class="form-control" ng-disabled="true">{{addEditChoreModalCtrl.choreParams.lastCompletedBy}}</div>
                        </div>
                        
                        
                    </div>
                    
                    <div class="form-group">
                    	<label class="col-sm-2 control-label" for="dueDate">Due Date:</label>
                        <div class="col-sm-4" ng-class="{'has-error' : toDoParamsForm.dueDate.$dirty && toDoParamsForm.dueDate.$invalid}">
                                <input type="text" uib-datepicker-popup="shortDate" ng-click="addEditChoreModalCtrl.openDueDate($event)" is-open="addEditChoreModalCtrl.dueDateOpen" class="form-control" placeholder="Due Date" ng-model="addEditChoreModalCtrl.choreParams.dueDate" min-date="addEditChoreModalCtrl.today"  id="dueDate" name="dueDate"/>       
                        </div>
                        
                        <label class="col-sm-1 control-label" for="assignee">Assignee:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : choreParamsForm.assignee.$dirty && choreParamsForm.assignee.$invalid}">
                                <input type="text" class="form-control" ng-model="addEditChoreModalCtrl.choreParams.assignee" placeholder="Optional" uib-typeahead="userNames for userNames in addEditChoreModalCtrl.getUserNames($viewValue)" typeahead-focus-first="false" typeahead-editable="false" id="assignee" name="assignee"/>
                            </div> 
                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="rating">Difficulty:</label>
                        <div class="col-sm-6">
                                <uib-rating ng-model="addEditChoreModalCtrl.choreParams.difficulty" max="10" state-on="'fa fa-star fa-2x'" state-off="'fa fa-star-o fa-2x'"></uib-rating>       
                        </div>
                               
                    </div>

                    
                </ng-form>
            </div>
      </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" id="saveBtn" ng-click="addEditChoreModalCtrl.ok()" accessKey="s" ng-disabled="choreParamsForm.$invalid">Save</button>
    <button class="btn btn-warning" id="cancelBtn" ng-click="addEditChoreModalCtrl.cancel()" accessKey="n">Cancel</button>
</div> 