<div ng-controller="inventoryController as inventoryController" class="contents">

    <div ui-grid="inventoryController.gridOptions" class="row-border hover" ui-grid-auto-resize ui-grid-pagination ui-grid-resize-columns ui-grid-move-columns style="display: table; width: 100%; vertical-align: middle; text-align: center; margin-bottom: 5px"></div>

	
    <button class="btn btn-default" id="addInvButton" ng-click="inventoryController.addInv()" >Add New Inventory</button>
    <button class="btn btn-default" id="uploadCsvButton" ng-click="inventoryController.uploadCsv()" >Upload Inventory CSV File</button>
    <button class="btn btn-default" style="position: absolute; right:0px"id="refreshButton" ng-click="inventoryController.refresh()"><i class="fa fa-refresh"></i></button>    
    </div>
    

    

