<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">{{addEditInvModalCtrl.title}}</h3>
</div>
<div class="row"> 
        <div class="col-sm-12">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="inventoryParamsForm">
                    <div class="form-group">
                    <i ng-show="inventoryParamsForm.itemName.$dirty && inventoryParamsForm.itemName.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-1 control-label" for="itemName">Item Name:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : inventoryParamsForm.itemName.$dirty && inventoryParamsForm.itemName.$invalid}">
                                <input type="text" name="itemName" id="itemName" ng-model="addEditInvModalCtrl.inventoryParams.literalItemName" placeholder="Generic Name" uib-typeahead="items.name for items in addEditInvModalCtrl.getLikeItems($viewValue)" class="form-control" typeahead-focus-first="false" required>
                          </div> 
                          <i ng-show="inventoryParamsForm.itemBrand.$dirty && inventoryParamsForm.itemBrand.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-2 control-label" for="itemBrand">Brand:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : inventoryParamsForm.itemBrand.$dirty && inventoryParamsForm.itemBrand.$invalid}">
                                <input type="text" class="form-control" ng-model="addEditInvModalCtrl.inventoryParams.brand" placeholder="Product Brand" uib-typeahead="brands for brands in addEditInvModalCtrl.getBrands($viewValue)" typeahead-focus-first="false" id="itemBrand" name="itemBrand" required/>
                            </div> 
                    </div>
                    <div class="form-group">
                    <i ng-show="inventoryParamsForm.itemType.$dirty && inventoryParamsForm.itemType.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-1 control-label" for="itemType">Type:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" ng-model="addEditInvModalCtrl.inventoryParams.type" placeholder="fruit, vegetable, meat, etc" uib-typeahead="types for types in addEditInvModalCtrl.getTypes($viewValue)" typeahead-focus-first="false" name="itemType" id="itemType" required/>
                            </div> 
                    <label class="col-sm-2 control-label" for="itemLastUpdBy">Last Updated By:</label>
                            <div class="col-sm-4">
                            	<div name="itemLastUpdBy" id="itemLastUpdBy" class="form-control" ng-disabled="true">{{addEditInvModalCtrl.inventoryParams.lastUpdBy}}</div>
                            </div> 

                   </div>
                   <div class="form-group"> 
                   <i ng-show="inventoryParamsForm.itemQuantity.$dirty && inventoryParamsForm.itemQuantity.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-1 control-label" for="itemQuantity">Quantity:</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="addEditInvModalCtrl.inventoryParams.quantity" name="itemQuantity" id="itemQuantity" ng-pattern="/^\d+([,.]\d+)?$/" required/>
                            </div>
                            <i ng-show="inventoryParamsForm.itemMeasurement.$dirty && inventoryParamsForm.itemMeasurement.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>         
                        <label class="col-sm-3 control-label" for="itemMeasurement">Measurement:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="addEditInvModalCtrl.inventoryParams.measurement" name="itemMeasurement" id="itemMeasurement" ng-options="type as type for type in addEditInvModalCtrl.measurementTypes" ng-change="addEditInvModalCtrl.updateAdjustmentTypes()" required></select>
                            </div>
                               
                    </div>
                    <div class="form-group" ng-hide="addEditInvModalCtrl.disableAdjust">
                        <label class="col-sm-1 control-label" for="itemQuantityAdjust">Adjust:</label>
                        <div class="col-sm-3">
                                <select class="form-control" ng-model="addEditInvModalCtrl.adjustmentParams.adjustmentType" name="itemAdjustmentType" id="itemAdjustmentType" ng-disabled="addEditInvModalCtrl.disableAdjust" ng-change="addEditInvModalCtrl.adjustmentSelected()">
                                <option value="">&nbsp;</option>
                                <option value="add">Add</option>
                                <option value="subtract">Subtract</option>
                                </select>
                            </div>
                            <i ng-show="inventoryParamsForm.itemQuantityAdjust.$dirty && inventoryParamsForm.itemQuantityAdjust.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="addEditInvModalCtrl.adjustmentParams.quantityAdjust" name="itemQuantityAdjust" id="itemQuantityAdjust" ng-disabled="addEditInvModalCtrl.disableAdjustEntry" ng-required="!addEditInvModalCtrl.disableAdjust && !addEditInvModalCtrl.disableAdjustEntry" ng-change="addEditInvModalCtrl.adjustmentSelected()"/>
                            </div>
                            
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="addEditInvModalCtrl.adjustmentParams.measurementAdjust" name="itemMeasurementAdjust" id="itemMeasurementAdjust" ng-options="type as type for type in addEditInvModalCtrl.adjustmentTypes" ng-disabled="addEditInvModalCtrl.disableAdjustEntry" ng-required="!addEditInvModalCtrl.disableAdjust && !addEditInvModalCtrl.disableAdjustEntry"  ng-change="addEditInvModalCtrl.adjustmentSelected()">                            
                                <option value="">&nbsp;</option>
                                </select>
                            </div>
                               
                    </div>
                  
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="notes">Notes:</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="addEditInvModalCtrl.inventoryParams.notes" name="itemNotes" id="itemNotes"></textarea>
                            </div> 
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label" for="lastBought">Last Bought:</label>
                        <div class="col-sm-4">
                                <input type="text" uib-datepicker-popup="shortDate" class="form-control" is-open="addEditInvModalCtrl.dateLastBoughtOpen" ng-click="addEditInvModalCtrl.openLastBoughtDate($event)" ng-model="addEditInvModalCtrl.inventoryParams.lastBought" max-date="today" close-text="Close" />       
                        </div>
                        <label class="col-sm-2 control-label" for="useBy">Use By:</label>
                        <div class="col-sm-4"> 
                                <input type="text" uib-datepicker-popup="shortDate" class="form-control" is-open="addEditInvModalCtrl.dateUseByOpen" ng-click="addEditInvModalCtrl.openUseByDate($event)" ng-model="addEditInvModalCtrl.inventoryParams.useBy" max-date="today" close-text="Close" />
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-1 control-label" for="rating">Rating:</label>
                        <div class="col-sm-6">
                                <uib-rating ng-model="addEditInvModalCtrl.inventoryParams.rating" max="10" state-on="'fa fa-heart fa-2x pink'" state-off="'fa fa-heart-o fa-2x'"></uib-rating>       
                        </div>
                    
                    <label class="col-sm-3 control-label" for="rating">Lock Measurement:</label>
                        <div class="col-sm-1">
                               <input type="checkbox" ng-model="addEditInvModalCtrl.inventoryParams.lockMeasurement" class="paddingClass"/>       
                        </div>
                    </div>
                </ng-form>
            </div>
      </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" id="saveBtn" ng-click="addEditInvModalCtrl.ok()" accessKey="s" ng-disabled="inventoryParamsForm.$invalid">Save</button>
    <button class="btn btn-warning" id="cancelBtn" ng-click="addEditInvModalCtrl.cancel()" accessKey="n">Cancel</button>
</div> 