<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">Item Details</h3>
</div>
<div class="row"> 
        <div class="col-sm-12">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="itemForm">
                
                <div class="form-group">
                        <i ng-show="itemForm.anItemName.$dirty && itemForm.anItemName.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-3 control-label" for="anItemName">Name:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="anItemName" name="anItemName" ng-model="editItemModalCtrl.itemParams.name" required/>
                            </div> 
                </div>
                
                
                <div class="form-group">
                        <label class="col-sm-3 control-label" for="favBrand">Favorite Brand:</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ng-model="editItemModalCtrl.itemParams.favoriteBrand" placeholder="Product Brand/Producer" uib-typeahead="brands for brands in editItemModalCtrl.getBrands($viewValue)" typeahead-focus-first="false" id="favBrand" name="favBrand"/>
                            </div> 
                </div>
                
                <div class="form-group">
                        <label class="col-sm-3 control-label" for="essential">Essential:</label>
                            <div class="col-sm-1">
                               <input type="checkbox" id="essential" name="essential" ng-model="editItemModalCtrl.itemParams.essential" class="paddingClass" style="margin-left: 7px; margin-top: 8px"/>       
                        	</div>
                        <label class="col-sm-3 control-label" for="threshold">Threshold:</label>
                        	<div class="col-sm-3">
                                <input type="number" class="form-control" ng-model="editItemModalCtrl.itemParams.threshold" name="threshold" id="threshold" ng-pattern="/^\d+$/" ng-disabled="!editItemModalCtrl.itemParams.essential" ng-required="editItemModalCtrl.itemParams.essential"/>
                            </div>
                        
                </div>
                
                <div class="form-group">
                		<label class="col-sm-2 col-md-offset-4 control-label" for="itemMeasurement">Measurement:</label>
                            <div class="col-sm-4">
                                <select class="form-control" ng-model="editItemModalCtrl.itemParams.measurement" name="itemMeasurement" id="itemMeasurement" ng-options="type as type for type in editItemModalCtrl.measurementTypes" ng-disabled="!editItemModalCtrl.itemParams.essential" ng-required="editItemModalCtrl.itemParams.essential"></select>
                            </div>
                
                </div>
                
                
                
                
                </ng-form>
           </div>
       </div>
</div>
<div class="modal-footer">
            <button class="btn btn-primary" id="saveBtn" ng-click="editItemModalCtrl.ok()" accessKey="s" ng-disabled="itemForm.$invalid" >Save</button>
            <button class="btn btn-warning" id="cancelBtn" ng-click="editItemModalCtrl.cancel()" accessKey="n">Cancel</button>
        </div> 