<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">{{addEditToDoModalCtrl.title}}</h3>
</div>
<div class="row"> 
        <div class="col-sm-12" style="margin-bottom: 0px;">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="toDoParamsForm">
                
                    <div class="form-group">
                    <i ng-show="toDoParamsForm.name.$dirty && toDoParamsForm.name.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                        <label class="col-sm-2 control-label" for="name">Name:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : toDoParamsForm.name.$dirty && toDoParamsForm.name.$invalid}">
                                <input type="text" name="name" id="name" ng-model="addEditToDoModalCtrl.toDoParams.name" placeholder="Name" class="form-control" required>
                          </div> 
                          
                        <label class="col-sm-1 control-label" for="location">Location:</label>
                            <div class="col-sm-4" ng-class="{'has-error' : toDoParamsForm.location.$dirty && toDoParamsForm.location.$invalid}">
                                <input type="text" name="location" id="location" ng-model="addEditToDoModalCtrl.toDoParams.location" placeholder="Complete where?" class="form-control" >
                          </div>   
                       
                    </div>
                    
                   <div class="form-group">
                        <label class="col-sm-2 control-label" for="dateEntered">Date Entered:</label>
                        <div class="col-sm-4" >
                                <div name="dateEntered" id="dateEntered" class="form-control" ng-disabled="true">{{addEditToDoModalCtrl.toDoParams.dateEntered | date: 'shortDate'}}</div>        
                        </div>
                        <label class="col-sm-1 control-label" for="enteredBy">By:</label>
                        <div class="col-sm-4" >
                        		<div name="enteredBy" id="enteredBy" class="form-control" ng-disabled="true">{{addEditToDoModalCtrl.toDoParams.enteredBy}}</div>
                        </div>
                    </div> 
                      
                   <div class="form-group" >
                        <label class="col-sm-2 control-label" for="dueDate">Due Date:</label>
                        <div class="col-sm-4" ng-class="{'has-error' : toDoParamsForm.dueDate.$dirty && toDoParamsForm.dueDate.$invalid}">
                                <input type="text" uib-datepicker-popup="shortDate" ng-click="addEditToDoModalCtrl.openDueDate($event)" is-open="addEditToDoModalCtrl.dueDateOpen" class="form-control" placeholder="Due Date" ng-model="addEditToDoModalCtrl.toDoParams.dueDate" min-date="addEditToDoModalCtrl.toDoParams.dateEntered"  id="dueDate" name="dueDate"/>       
                        </div>
                        <label class="col-sm-1 control-label" for="completedBy">By:</label>
                        <div class="col-sm-4" ng-class="{'has-error' : toDoParamsForm.completedBy.$dirty && toDoParamsForm.completedBy.$invalid}">
                                <input type="text" class="form-control" ng-model="addEditToDoModalCtrl.toDoParams.completedBy" placeholder="Not completed" name="completedBy" id="completedBy" ng-disabled="true"/>
                            </div>
                        <i ng-show="toDoParamsForm.completedBy.$dirty && toDoParamsForm.completedBy.$invalid" class="fa fa-exclamation-triangle fa-2x" style="color: red"></i>
                    </div>
                    
                    <div class="form-group">
                       <label class="col-sm-2 control-label" for="notes">Notes:</label>
                       <div class="col-sm-9">                           
                            <textarea class="form-control" rows="3" id="notes" name="notes" ng-model="addEditToDoModalCtrl.toDoParams.notes" ></textarea>                            
                       </div>
                       
                    </div>
                    
                    <div class="form-group" ng-hide="addEditToDoModalCtrl.importance">
                        <label class="col-sm-2 control-label" for="importance">Importance:</label>
                        <div class="col-sm-6">
                                <uib-rating ng-model="addEditToDoModalCtrl.toDoParams.importance" max="10" state-on="'fa fa-star fa-2x'" state-off="'fa fa-star-o fa-2x'"></uib-rating>       
                        </div>
                               
                    </div>
                    
                                        
                </ng-form>
            </div>
      </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" id="saveBtn" ng-click="addEditToDoModalCtrl.ok()" accessKey="s" ng-disabled="toDoParamsForm.$invalid">Save</button>
    <button class="btn btn-warning" id="cancelBtn" ng-click="addEditToDoModalCtrl.cancel()" accessKey="n">Cancel</button>
</div> 