<div class="modal-header">
   <h3 class="modal-title" style="text-align: center;">{{viewRecipeModalCtrl.recipeParams.name}}</h3>
</div>
<div class="row"> 
        <div class="col-sm-12">
            <div class="well well-small" style="margin-bottom: 0px;">
                <ng-form class="form-horizontal" name="recipeViewForm">
                    <div class="form-group">
                    <label class="col-sm-2 control-label" for="cookTime">Cook Time:</label>
                           <div class="col-sm-3">
                            <div name="cookTime" id="cookTime" class="form-control" ng-disabled="true" >{{viewRecipeModalCtrl.recipeParams.cookTime}}</div>
                                
                          </div>  
                    <label class="col-sm-2 control-label" for="servingSize">Serving Size:</label>
                           <div class="col-sm-3">
                            <div name="servingSize" id="servingSize" class="form-control" ng-disabled="true" >{{viewRecipeModalCtrl.recipeParams.servingSize}}</div>
                                
                          </div>  
	                 </div>
	                 <h3 class="modal-title" style="text-align: left;">Ingredients: </h3>
	                 <div class="form-group">
                        <div class="col-sm-8 table-responsive table-condensed">
                            <table class="table table-striped view" style="font-size: 14px; ">
                                <tr ng-class="{'danger' : ingredient.availableInventory.length == 0}" ng-repeat="ingredient in viewRecipeModalCtrl.ingredients">
                                    <td>x{{ingredient.amount}}
		                               <span class="text-lowercase">{{ingredient.measurement}}{{ingredient.amount > 1 ? "s" : ""}} of </span>
		                               {{ingredient.item.name}}{{ingredient.form.length > 0 ? "," : ""}}
		                               {{ingredient.form}} 
		                            </td>
		                            <td>
		                              <select class="form control" id="select{{$index}}" name="select{{$index}}" ng-model="viewRecipeModalCtrl.decrement[ingredient.id]" ng-options="inventory as inventory.brand + ' - ' + inventory.type for inventory in ingredient.availableInventory" ng-hide="ingredient.availableInventory.length == 0" ng-required="ingredient.availableInventory.length > 0"></select>
		                              <span ng-hide="ingredient.availableInventory.length > 0">Insufficient inventory</span>
		                            </td>
                                </tr>
                            </table>                             
                        </div>
                        <div class="col-sm-4">
                            <img data-ng-src="{{'/upload/recipe/' + viewRecipeModalCtrl.recipeParams.id}}" image-resize image-size="200" err-src="images/noImage.png"/>
                        </div>
                    </div>   
                </ng-form>
                <h3 style="text-align: left;">Directions: </h3>
                <textarea class="form-control" rows="10" id="directions" name="directions" ng-model="viewRecipeModalCtrl.recipeParams.notes" ></textarea>           
                
                     
            </div>
      </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" id="makeBtn" ng-click="viewRecipeModalCtrl.make()" ng-disabled="recipeViewForm.$invalid" accessKey="m">Make</button>
    <button class="btn btn-warning" id="cancelBtn" ng-click="viewRecipeModalCtrl.cancel()" accessKey="n">Cancel</button>
</div> 